_build/
.rebar3/
ebin/
*.beam
*.plt
*.o
*.so
.eunit/
logs/
log/
.erlang.cookie
*.swp
*.swo
*~
.DS_Store
rebar.lock
priv/static/*
!priv/static/.gitkeep
data/
.installed
priv/ersub_clips
c_src/clips_lib/
