[
    {ersub, []},
    {kernel, [
        {logger_level, info},
        {logger, [
            {handler, default, logger_std_h, #{
                level => info,
                formatter => {logger_formatter, #{
                    single_line => true,
                    template => [time, " [", level, "] ", pid, " ", msg, "\n"]
                }}
            }}
        ]}
    ]},
    {sasl, [
        {sasl_error_logger, false}
    ]}
].
